

    <div class="modal fade" id="followingModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center justify-content-center w-100">
                        <h2 class="modal-title" id="exampleModalLabel">Users {{ searched_user.username }} follows </h2>
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div>
                        {% for follow in follows %}
                            {% if follow.follower == searched_user %}
                                <a href="{% url 'profile' follow.followed_user.username %}" class="text-decoration-none">
                                    <div class="d-flex text-dark mt-2">
                                        <img src="{{ follow.followed_user.profile_img.url }}" class="rounded-circle" style="width: 38px; height: 38px; object-fit: cover" alt="">
                                        <div class="d-flex justify-content-between w-100">
                                            <p class="mx-3 fw-bold"> {{ follow.followed_user.username }} </p>
                                            <div class="d-flex align-items-center">
                                                <i class="fa-solid fa-user"></i>
                                                <p class="mx-3 fw-bold"> Since </p>
                                                <p class="mx-3 fw-bold"> {{ follow.since }} </p>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>