{% extends 'reset_and_activate/reset_activate_base.html' %}

{% block reset_content %}
    <div class="container d-flex mt-5 text-center">
        <h2 class="text-secondary">
            We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        </h2>
    </div>
    <div class="container d-flex text-center justify-content-center mt-3">
       <h5>
            If you don't receive an email, please make sure you've entered the address you registered with and check your spam folder.
       </h5>
    </div>
{% endblock %}