{% extends 'pages/login_page.html' %}

{% block login %}
    <form action="{% url 'password_reset' %}" method="POST">
        {% csrf_token %}
        <div style="max-width: 28rem; width: 100%;">
            <div class="bg-white shadow rounded p-3 input-group-lg">
                <div class="container d-flex justify-content-evenly mt-1" style="height: 75px">
                </div>
                <div class="fw-normal text-center text-muted mb-4">
                    Enter your email that is associated with your account and we'll send you a link to get back into your account.
                </div>
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email">
                    <label for="floatingInput">Email address</label>
                </div>
                <button type="submit" class="btn btn-secondary submit_btn w-100 my-4">Send Login Link</button>
                <div class="text-center text-muted text-uppercase mb-3">or</div>

                <div class="text-center mb-3">
                    <a href="{% url 'login' %}" class="text-light text-decoration-none">
                        <button type="button" class="btn btn-outline-secondary w-50">
                            Go back to login
                        </button>
                    </a>
                </div>
                <div class="container d-flex justify-content-evenly mt-1" style="height: 50px">
                </div>
            </div>
        </div>
    </form>
{% endblock %}