{% extends 'reset_and_activate/reset_activate_base.html' %}

{% block reset_content %}
    <form id="id_password_change_form" class="form-signin" method="POST">
        {% csrf_token %}
        <div style="max-width: 28rem; width: 100%;">
            <div class="bg-white shadow rounded p-3 input-group-lg">
                <div class="container d-flex justify-content-evenly mt-1" style="height: 75px">
                </div>
                <div class="fw-normal text-center text-muted mb-4">
                    Change your password
                </div>
                <div class="form-floating mb-3">
                    <input name="new_passsword1" class="form-control" id="floatingInput" placeholder="Email"
                           required="true">
                    <label for="floatingInput">New password</label>
                </div>
                <div class="form-floating mb-3">
                    <input name="new_passsword2" class="form-control" id="floatingInput" placeholder="Email"
                           required="true">
                    <label for="floatingInput">Confirm new password</label>
                </div>
                <div class="container d-flex justify-content-evenly mt-1" style="height: 50px">
                </div>
            </div>
        </div>
    </form>
{% endblock %}