{% extends 'reset_and_activate/reset_activate_base.html' %}

{% block reset_content %}
    <div class="d-flex justify-content-center mt-5">
        {% if validlink %}
        <form id="id_password_change_form" class="form-signin" method="POST">
            {% csrf_token %}
            <div style="max-width: 28rem; width: 600px;">
                <div class="bg-white shadow rounded p-3 input-group-lg">
                    <div class="fw-normal text-center text-muted mb-4">
                        <h4 class="text-secondary">Change your password</h4>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="new_password1" class="form-control" id="id_new_password1" placeholder="Email"
                               required="true">
                        <label for="id_new_password1">New password</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="password" name="new_password2" class="form-control" id="id_new_password2" placeholder="Email"
                               required="true">
                        <label for="id_new_password2">Confirm new password</label>
                    </div>
                    <input type="submit" class="btn btn-secondary submit_btn w-100 my-4" value="Change my password">
                    <div class="container d-flex justify-content-evenly mt-2 mb-3" style="height: 50px">
                        {{ form.new_password1.errors }}
                        {{ form.new_password2.errors }}
                    </div>
                </div>
            </div>
        </form>
        {% else %}
            <div class="d-flex text-center w-50">
                <h2 class="text-secondary">
                The password reset link was invalid, possibly because it has already been used. Please request a new password reset
                </h2>
            </div>
        {% endif %}
    </div>

{% endblock %}