{% include 'modals/register_modal.html' %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
                                                                                                                                                                                                                                                                                       integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="/_static/css/start_page_style.css">

</head>
<body>
<!-- NAPISY -->
    <div class="container d-flex flex-column flex-lg-row justify-content-evenly mt-5 pt-5">
        <div class="text-center text-lg-start mt-lg-5 pt-lg-5">
            <img id="appImg" src="/_static/images/github.png" class="img-fluid mb-3" alt="">
            <h1 class="text-secondary fs-0 fw-bold">IT Social</h1>
            <p class="fs-3">Connect with IT-related people and exchange</p> <p class="fs-3"> the information</p>
        </div>
        <!-- FORMULARZ -->
        <form action="{% url 'password_reset' %}" method="POST">
            {% csrf_token %}
            <div style="max-width: 28rem; width: 100%;">
                <div class="bg-white shadow rounded p-3 input-group-lg">
                    <div class="container d-flex justify-content-evenly mt-1" style="height: 75px">
                        {% if messages %}
                            {% for message in messages %}
                                <div class="alert alert-danger alert-dismissible fade show w-100">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="fw-normal text-center text-muted mb-4">
                        <a href="" class="text-primary fw-bold text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">Login problem?</a>
                        <br>
                        Enter your email that is associated with your account and we'll send you a link to get back into your account.
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="floatingInput" placeholder="Email">
                        <label for="floatingInput">Email address</label>
                    </div>
                    <button type="submit" class="btn btn-secondary submit_btn w-100 my-4">Send Login Link</button>
                    <div class="text-center text-muted text-uppercase mb-3">or</div>

                    <div class="text-center mb-3">
                        Register your account
                    </div>

                    <!-- Button trigger modal -->
                <div class="container d-flex justify-content-evenly mt-1" style="height: 50px"></div>
                </div>
            </div>
       </form>
    </div>
</body>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="/_static/js/start_page_script.js" defer></script>
</html>