{% extends 'pages/home_base.html' %}

{% block messages %}
    {% include 'modals/create_message_modal.html' %}
    <script src="/_static/js/messages_page_script.js"></script>
    <div class="container-fluid d-flex flex-row justify-content-center" style="margin-top:150px">
        <div class="d-flex shadow rounded w-75" style="height: 80vh">
            <div class="w-25 overflow-auto">
                <div class="container m-0">
                    <p class="fs-3 text-secondary">Received messages</p>
                </div>
                <hr>
                {% for message in messages_received %}
                    <div type="button" onclick="messageClick('{{ message.topic }}', '{{ message.content }}',
                            '{{ message.sender.username }}', '{{ message.sender.profile_img.url }}', '{{ message.date }}')" class="d-flex shadow rounded align-items-center p-3 overflow-auto">
                        <a href="{% url 'profile' message.sender.username %}">
                            <img src="{{ message.sender.profile_img.url }}" alt="avatar"
                                 class="rounded-circle me-2" style="width: 38px; height: 38px; object-fit: cover;">
                        </a>
                        <div class="d-flex overflow-hidden w-75">
                           <p class="text-secondary m-0">{{ message.sender.username }}</p>
                            <p class="text-dark m-0 mx-3">{{ message.topic }} </p>
                        </div>
                        <div class="d-flex justify-content-end">
                            <a href="{% url 'delete_message' message.id %}">
                                <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#deleteMessageModal"><i class="fa-sharp fa-solid fa-xmark"></i></button>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="messagesDiv" class="shadow rounded w-100">
                <div id="messagesContent" class="mb-2" style="height: 90%">
                    <div class="text-center">
                        <p class="fs-3 text-secondary">Message content</p>
                    </div>
                    <hr>
                    <div id="messagesData">
                    </div>
                </div>
                <div class="d-flex justify-content-end mx-3">
                    <button type="button" data-bs-toggle="modal" data-bs-target="#messageModal" class="btn btn-lg btn-outline-primary border-radius" style="height:100%">
                        <i class="fa-solid fa-plus fs-1" style=""></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script>
        function messageClick(topic, content, username, url, date) {
            const div = document.getElementById("messagesData")
            div.innerHTML = ''
            const div1 = document.createElement('div')
            div1.classList.add('d-flex', 'p-3', 'w-100')
            const img = document.createElement('img')
            img.classList.add('rounded-circle', 'me-2')
            img.style = "width: 100px; height: 100px; object-fit: cover;"
            img.src = url
            const pUsername = document.createElement("p")
            pUsername.classList.add('text-dark', 'fs-3', 'my-auto', 'mx-2')
            pUsername.innerText = username
            div1.appendChild(img)
            div1.appendChild(pUsername)

            const div2 = document.createElement('div')
            div2.classList.add('p-3')
            const pTopic = document.createElement('p')
            pTopic.classList.add('fs-1', 'text-dark')
            pTopic.innerText = topic
            div2.appendChild(pTopic)

            const div3 = document.createElement('div')
            div3.classList.add('p-3')
            const pContent = document.createElement('p')
            pContent.classList.add('text-secondary', 'fs-4')
            pContent.innerText = content
            div3.appendChild(pContent)

            div.appendChild(div1)
            div.appendChild(div2)
            div.appendChild(div3)
        }
    </script>
{% endblock %}