{% extends 'pages/home_base.html' %}


{% block profile %}
    {% include 'modals/followers_modal.html' %}
    {% include 'modals/following_modal.html' %}
    {% include 'modals/edit_profile.html' %}
    {% include 'modals/create_message_modal.html' %}
    <link rel="stylesheet" href="/_static/css/profile_page_style.css">
    <div class="container-fluid d-flex flex-row justify-content-center" style="margin-top:150px">
        <div class="shadow rounded" style="min-width: 500px">
            <a href="" data-bs-toggle="modal" data-bs-target="#editProfileModal">
                <img id="profilePicture" src="{{ searched_user.profile_img.url }}" class="rounded-circle m-5" alt="avatar">
            </a>
            <div>
                <div class="d-flex mx-3 justify-content-between align-items-center">
                    <h3 class="fs-0 fw-bold mt-3">{{ searched_user.firstname }} {{ searched_user.lastname }}</h3>
                    {% if current_user == searched_user %}
                    <button type="button" class="btn btn-outline-info fs-7 h-50" data-bs-toggle="modal" data-bs-target="#editProfileModal">Edit profile
                        <i class="fa-solid fa-pen-to-square"></i>
                    </button>
                    {% endif %}
                </div>
                <div id ="followDiv" class="d-flex mx-3 justify-content-between align-items-center">
                    <h5 class="text-secondary fs-0 fw-bold mt-3">{{ searched_user.username }}</h5>
                </div>
                {% if current_user.username != searched_user.username %}
                    <div class="d-flex justify-content-end mx-3 mt-1">
                        <button onclick="setUsernameValue()" type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#messageModal">
                            <i class="fa-solid fa-envelope fs-4" style="pointer-events: none"></i>
                        </button>
                    </div>
                {% endif %}
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="d-flex justify-content-evenly align-items-center w-100">
                        <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#followersModal">
                            <h6 class="text-primary fs-0 fw-bold mt-3">{{ searched_user.followers }} followers</h6>
                        </a>
                        <i class="fa-solid fa-users"></i>
                        <a href="" class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#followingModal">
                            <h6 class="text-primary fs-0 fw-bold mt-3">{{ searched_user.following }} following</h6>
                        </a>
                    </div>
                </div>
            </div>
            <div class="d-flex flex-row p-2 mt-4 align-items-center">
                <i class="fa-solid fa-location-dot fs-3"></i>
                <p class="fs-5 mx-3 my-auto"><strong>Location:</strong> {{ user_profile.location }}</p>
            </div>
            <div class="d-flex flex-row p-2 align-items-center">
                <i class="fa-solid fa-cake-candles fs-3"></i>
                <p class="fs-5 mx-3 my-auto"><strong>Birthday:</strong> {{ searched_user.birthday }}</p>
            </div>
            <div class="d-flex flex-row p-2 align-items-center">
                <i class="fa-solid fa-mars-and-venus fs-3"></i>
                <p class="fs-5 mx-3 my-auto"><strong>Gender:</strong> {{ searched_user.gender }}</p>
            </div>


        </div>
        <div class="mx-3 "style="max-width: 60rem; width: 100%;">
            <div class="bg-white shadow rounded p-3 input-group-lg">
                <h1 class="text-secondary fs-0 fw-bold mt-3">Bio</h1>
                {{ user_profile.about }}
            </div>
            <div class="bg-white shadow rounded p-3 input-group-lg mt-4 overflow-auto" style="max-height: 600px">
                <h1 class="text-secondary fs-0 fw-bold mt-3 mb-3">Posts</h1>
                {% for post in posts %}
                    <a href="{% url 'post_view' post.id %}" class="text-decoration-none">
                        <div class="btn btn-light w-100 text-start">
                            <h3>{{ post.topic }}</h3><p>{{ post.date }}</p>
                        </div>
                    </a>
                {% endfor%}
            </div>
        </div>
    </div>
    <script>
        let followDiv = document.getElementById('followDiv')
        let classColor = 'btn-outline-primary'
        let buttonText = 'Follow'

        {% if current_user != searched_user %}
            let aButton = document.createElement('a')
            let button = document.createElement('button')
            let i = document.createElement('i')
            i.classList.add('fa-solid', 'fa-user', 'mx-1')
            button.classList.add('btn', 'fs-7', 'h-50')
            aButton.classList.add('text-decoration-none')
            aButton.href = '{% url 'follow_or_unfollow' searched_user.username %}'
            {% for follow in follows %}
                {% if follow.follower == current_user and follow.followed_user == searched_user %}
                    classColor = 'btn-outline-danger'
                    buttonText = 'Unfollow'
                {% endif %}
            {% endfor %}
            button.classList.add(classColor)
            button.innerText = buttonText
            button.appendChild(i)

            aButton.appendChild(button)
            followDiv.appendChild(aButton)
            classColor = 'btn-outline-primary'
            buttonText = 'Follow'
        {% endif %}

        function setUsernameValue() {
            const area = document.getElementById("usernameArea")
            area.innerHTML = '{{ searched_user.username }}'
        }

        function addYears() {
            const yearSelect = document.getElementsByName("Year")[0]
            for (let i=1900; i<=2022; i++) {
                const option = document.createElement('option')
                option.classList.add('years__option')
                option.value = String(i)
                option.innerText = String(i)
                yearSelect.appendChild(option)
            }
        }

        function addMonths() {
            const months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            const monthsSelect = document.getElementsByName("Month")[0]

            for (const month of months) {
                const option = document.createElement('option')
                option.classList.add('months__option')
                option.value = month
                option.innerText = month
                monthsSelect.appendChild(option)
            }
            console.log('addmonths')
        }

        function addDays() {
            let daysToCreate
            const daySelect = document.getElementsByName("Day")[0]
            daySelect.value = "1"
            const monthsSelect = document.getElementsByName("Month")[0]
            const selectedMonth = monthsSelect.selectedOptions[0].value
            console.log(selectedMonth)
            const first_group = ["January", "March", "May", "July", "August", "October", "December"]
            const second_group = ["April", "June", "September", "November"]

            if (first_group.includes(selectedMonth)) {
                daysToCreate = 31
            }
            else if (second_group.includes(selectedMonth)) {
                daysToCreate = 30
            }
            else {
                const yearSelect = document.getElementsByName("Year")[0]
                const selectedYear = yearSelect.selectedOptions[0].value
                if (Number(selectedYear) % 4 === 0) {
                    daysToCreate = 29
                }
                else {
                    daysToCreate = 28

                }
            }
            for(let i=1; i<=daysToCreate; i++) {
                const option = document.createElement('option')
                option.classList.add('days__option')
                option.value = String(i)
                option.innerText = String(i)
                daySelect.appendChild(option)
            }
        }


        function setProfile() {
            const homeButton = document.getElementById("homeButton")
            const forumButton = document.getElementById("forumButton")
            const forumParent = forumButton.parentElement.parentElement
            const homeParent = homeButton.parentElement.parentElement
            homeParent.classList.remove('nav__btn-active')
            forumParent.classList.remove('nav__btn-active')
            homeParent.style.border = 'none'
            forumParent.style.border = 'none'
        }

        function mapMonth(month) {
            let number
            switch(month) {
                case 'January':
                    number = '01'
                    break
                case 'February':
                    number = '02'
                    break
                case 'March':
                    number = '03'
                    break
                case 'April':
                    number = '04'
                    break
                case 'May':
                    number = '05'
                    break
                case 'June':
                    number = '06'
                    break
                case 'July':
                    number = '07'
                    break
                case 'August':
                    number = '08'
                    break
                case 'September':
                    number = '09'
                    break
                case 'October':
                    number = '10'
                    break
                case 'November':
                    number = '11'
                    break
                case 'December':
                    number = '12'
                    break
            }
        }

        function setBirthday() {
            const daySelect = document.getElementsByName("Day")[0]
            const monthSelect = document.getElementsByName("Month")[0]
            const yearSelect = document.getElementsByName("Year")[0]
            const dayOptions = document.getElementsByClassName('days__option')
            console.log(yearSelect, daySelect, monthSelect)
            console.log({{ user_profile.day }})
            console.log('{{ user_profile.month }}')
            console.log({{ user_profile.year }})
            console.log(typeof({{ user_profile.year }}))

            for (const option of dayOptions) {
                if (option.value === '{{ user_profile.day }}') {
                    daySelect.value = '{{ user_profile.day }}'
                }
            }
            const monthOptions = document.getElementsByClassName('months__option')
            for (const option of monthOptions) {
                if (option.value === '{{ user_profile.month }}') {
                    monthSelect.value = '{{ user_profile.month }}'
                }
            }
            const yearOptions = document.getElementsByClassName('years__option')
            for (const option2 of yearOptions) {
                if (option2.value === '{{ user_profile.year }}') {
                    yearSelect.value = {{ user_profile.year }}
                }
            }
        }

        function setInputs() {
            const inputs = document.getElementsByClassName('form-check-input')
            console.log(inputs)
            for (input of inputs) {
                if (input.value === '{{ current_user.gender }}') {
                    input.checked = true
                }
                else {
                    input.checked = false
                }
            }
        }
        setProfile()
        addYears()
        addMonths()
        addDays()
        setBirthday()
        setInputs()

    </script>

{% endblock %}